*{
    margin:0px;
    
}
.main{
    min-height: 96vh;
    width:100%;
    overflow-x: hidden;
}
.nav{
    height:80px;
    width:cover;
    display:flex;
    background-color:chartreuse;
    justify-content:space-evenly;
    align-items:center;
}
.logo{
    height:50px;
    width:150px;;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:absolute;
    left:30px;

}
.list ul{
    height:80px;
    width:400px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    position:relative;
    right:20px;
    transform:translate(30px);
   
}
.list a{
    text-decoration:none;
    color:black;
}
.list a:hover{
    transform:translateY(-3px);
    color:blueviolet;
}
.list .page{
    color:rgb(214, 4, 4);
    font-weight:800;
}
.list img{
    height:25px;
    width:25px;
} 
.search input{
    height:10px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    left:120px;
    padding:10px;
    top:15px;
    border-radius:10px;
}
.search img{
    height:30px;
    width:30px;
    transform:translate(411px,-17px);
    background-color:yellow;
    background-size: 40px,40px;
    border-radius: 10px;

}
.cart{
    width:10%;
    display:flex;
    justify-content:center;
    align-items: center;
    position:absolute;
    right:30px;
    background-color:aqua;
    border:2px solid black;
    box-shadow:2px 2px 10px 5px lightcyan;

}
.cart img{
    height:40px;
    width:40px;
}

.cart p{
display:flex;
justify-content: center;
align-items: center;
font-size:20px;
}
.list2{
    height:60px;
    width:50%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    
    /* transform:translate(120px); */
   

}
.nav2 a{
    text-decoration:none;
    color:black;
}
.nav2{
    height:50px;
    width:cover;
    display:flex;
    background-color:rgb(174, 255, 208);
    justify-content:space-evenly;
    align-items:center;
}
.nav2 a:hover{
   transform:translateY(-3px);
   color:blueviolet;
}  
.empty{
    height:auto;
    width:50%;
    position:absolute;
    top:160px;
    left:400px;
}
.empty p{
    font-weight:800;
    font-size:30px;
    position:absolute;
    top:320px;
    

}
.empty span a{
    text-decoration:none;
    color:white;
    font-size:17px;
    border:2px solid black;
    background-color: green;
    padding:8px;
    position:absolute;
    top:320px;
    left:250px;
}
h2{
    text-align:center;
    margin-top:20px;
}

.product{
    height:120px;
    width:60%;
    padding:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:1px solid grey;
    margin-left:20%;
    margin-top:50px;
    border-radius:10px;
}
.name{
    transform:translate(130px,-130px);
    font-weight:800;
    font-size:22px;
    color:rgba(44, 27, 59, 0.842);
    font-family:'Times New Roman', Times, serif
}
.product img{
     margin-left:-1%;
     margin-top:-2%;
}
.inline{
    display:flex;
    justify-content: space-around;
    transform:translate(50px,-100px);
    font-size:15px;
    margin-right:20px;
}
.payable{
    font-size:22px;
    font-weight:200;
    color:rgba(255, 0, 0, 0.986);
    font-family:'Times New Roman', Times, serif;
}
.quantity span{
    font-size:22px;
    color:rgba(14, 5, 5, 0.986);
}
.btn{
height:25px;
width:80px;
}
.total{
    position:bottom;
    margin-top:40px;
    margin-left:23%;
    font-size:20px;
}

.count{
  position:absolute;
  top:48%;
  right:80%;
      
}
.quantity_box{
    height:40px;
    width:80px;
    text-align:center;
    
}

.increment{
    height:30px;
    width:50px;
}
.decrement{
    height:30px;
    width:50px;
   
    text-align:center;
}